html .overlay h1,
html .overlay h2,
html .overlay h3,
html .overlay p,
html .overlay .credit {
	background-color: rgba(100,100,100,0.8);
  color: #fff;
}



html .overlay h1 { padding: 0.1em; }
html .overlay h2 { padding: 0.1em; }
html .overlay h3 { padding: 0.1em; }
html .overlay p { padding: 0.1em; }

.slides .credit {
  position: fixed;
  bottom: -60%;
  display: block;
  right: 30%;
  font-size: 80%;
  padding: 0.2em;
}

.reveal h1 { font-size: 3.2em; }
.reveal p { margin-top: 0.3em; }
.reveal li { margin-top: 0.2em; }

.reveal .left h1,
.reveal .left h2,
.reveal .left h3,
.reveal .left p { text-align: left; margin-left: 15%; }
/*.reveal .left ul,
.reveal .left ol { margin-left: 0%; }*/
.reveal .left ul li,
.reveal .left ol li { padding-left: 0.2em;}
.reveal .left ol { margin-left: 20%; }
